{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans ' - Settings' %}
{% endblock %}

{% block content %}

<div class="vertical-center" style="min-height: 90%; min-height: 90vh; display: flex; align-items: center;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="w-100">
                <h1 align="center" class="mt-3 mb-3">{% trans 'Update settings' %}</h1>
                <form action="{% url 'sound_reactive_server:settings' %}"
                      method="post"
                      class="form">


                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    <table class="table">
                        {% for field in form.visible_fields %}
                            <tr>
                                <td class="fit">
                                    {{ field.label_tag }}
                                    {{ field.errors }}
                                </td>
                                <td>
                                    {{ field }}
                                </td>
                                <td>
                                    {{ field.help_text }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td align="center" colspan="3">
                                <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
                            </td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}